@{
    ViewBag.Title = "About";
}
<h1>@ViewBag.Title</h1>

<h3>To learn more about the University of Alabama Management Information Systems department please visit their website or visit Alston Hall</h3>
<p><a class="btn btn-default" href="https://catalog.ua.edu/undergraduate/commerce-business-administration/information-systems-statistics-management-science/mis/"> Visit &raquo;</a></p>
  <p>The MIS Forum was created by Jason Frederick, Carter Lockwood and Makayla Dorroh for their final project for MIS 497- Advanced Programming. 
    The purpose of the project was to show what they learned throughout the semester as well as mimic what a capstone project will be like on a smaller scale.</p>