@{
    ViewBag.Title = "About";
}
<h1>@ViewBag.Title</h1>
<h2>@ViewBag.Message</h2>

<h3>To learn more about the University of Alabama Management Information Systems department please visit their website or visit Alston Hall</h3>
<p><a class="btn btn-default" href="https://catalog.ua.edu/undergraduate/commerce-business-administration/information-systems-statistics-management-science/mis/"> Visit &raquo;</a></p>
  