@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    The University of Alabama
    Tuscaloosa, AL 35487
    (205) 348-6010
</address>

<address>
    <strong>UA MIS Information:</strong>   <a href="https://culverhouse.ua.edu/academics/departments/information-systems-statistics-and-management-science">Learn More</a><br />
    <strong>Call for Appointment:</strong> <a>205-348-6085</a>
</address>