@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MIS Forum</h1>
    <p class="lead">MIS Forum is a free forum for communicating with University of Alabama MIS Faculty and students.</p>
    <p><a href="https://ua.edu" class="btn btn-default btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Creating an account will allow you to start posting in different threads throughout the forum.
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Create an Account", "Register", "Account", null, new { })</a></p>
    </div>
    <div class="col-md-4">
        <h2>Connect with Others</h2>
        <p>Don't forget to connect with MIS faculty and students via LinkedIn </p>
        <p><a class="btn btn-default" href="https://linkedin.com"> Connect </a></p>
    </div>
    <div class="col-md-4">
        <h2>Potential Jobs</h2>
        <p>Look at current jobs within the MIS field to learn more about your career opportunities</p>
        <p><a class="btn btn-default" href="https://indeed.com">Jobs</a></p>
    </div>
</div>