@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MIS Forum</h1>
    <p class="lead">MIS Forum is a free forum for communicating with University of Alabama MIS Faculty and students.</p>
    <p><a href="https://ua.edu" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Creating an account will allow you to start posting in different threads throughout the forum.
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Create an Account", "Register", "Account", null, new { })</a></p>
    </div>
    <div class="col-md-4">
        <h2>Join Class Discussions</h2>
        <p>Use Blackboard to view your class list and then join discussion threads for those classes</p>
        <p><a class="btn btn-default" href="https://ualearn.blackboard.com/webapps/login/"> View Classes &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get Help</h2>
        <p>You can always reach out to your professors for help outside of the forum or for questions regarding the forum.</p>
        <p><a class="btn btn-default" href="https://mybama.ua.edu">Reach Out &raquo;</a></p>
    </div>
</div>